@import './config.less';

/* global */
a {
    padding-bottom: 0;
    color: @linkColor;
    text-decoration: none !important;
    border-bottom: 1px solid transparent;
}
a.underline {
    border-bottom-color: @linkUnderlineColor;
}
a.pseudo {
    border-bottom-style: dashed;
}
a.pointer {
    cursor: pointer;
}
a:hover,
a:focus,
a:active,
a.active {
    color: @linkActiveColor;
    cursor: pointer;
}
a.underline:hover,
a.underline:focus,
a.underline:active {
    border-bottom-color: @linkActiveUnderlineColor;
}

/* np-rsearch */
[np-rsearch].search-request [np-rsearch-navigation] .search-result-switch {
    opacity: 0.75;
}

[np-rsearch] [np-rsearch-navigation] .breadcrumb {
    padding: 0;
    background-color: transparent;
}
[np-rsearch] [np-rsearch-navigation] .breadcrumb .divider {
    padding-right: 0;
}

[np-rsearch] [np-rsearch-node-plain] {
    margin-bottom: 5px;
    background-color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
[np-rsearch] [np-rsearch-node-plain]:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
[np-rsearch] [np-rsearch-node-plain] .body {
    width: 600px;
    padding: 5px;
}

/* other */
.np-rsearch-test {
    margin: 10px 0;
}
