/.project

/.DS_Store
.DS_Store
/.settings
/.classpath

*.versionsBackup
*.orig

tmp
.tmp*

node_modules
bower_components
bower-components
external_components
target

npm-debug.log

.pydevproject

*~
