[np-rsearch-navigation] a {
    padding-bottom: 0;
    color: #0088cc;
    text-decoration: none !important;
    border-bottom: 1px solid transparent;
}
[np-rsearch-navigation] a:hover,
[np-rsearch-navigation] a:focus,
[np-rsearch-navigation] a:active,
[np-rsearch-navigation] a.active {
    color: #98012e;
    cursor: pointer;
}

[np-rsearch-navigation] li a.active {
    color: #98012e !important;
    cursor: default !important;
}

[np-rsearch-navigation] .breadcrumb {
    padding: 0;
    background-color: transparent;
}
[np-rsearch-navigation] .breadcrumb .divider {
    padding-right: 0;
}

[np-rsearch-node-plain] {
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
[np-rsearch-node-plain]:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}
[np-rsearch-node-plain] .body {
    margin-bottom: 20px;
    padding: 5px 5px 0 5px;
}
[np-rsearch-node-plain] .node-header {
    padding-bottom: 5px;
    font-weight: bold;
}
[np-rsearch-node-plain] .node-entry {
    padding-bottom: 5px;
}

[np-rsearch-node-plain] .liquidate-state {
    display: none;
}
[np-rsearch-node-plain] .liquidate .liquidate-state {
    display: block;
}
[np-rsearch-node-plain] .liquidate .node-header,
[np-rsearch-node-plain] .liquidate-state {
    color: #b94a48;
}

.rsearch_report_links .price {
    color: #999;
}
.rsearch_report_links .divider {
    color: #ccc;
    padding: 0 5px 0 5px;
}
