/* Общие стили для всего приложения */

@import './config.less';

/* base */
a {
    padding-bottom: 0;
    color: @linkColor;
    text-decoration: none !important;
    border-bottom: 1px solid transparent;
}
a.underline {
    border-bottom-color: @linkUnderlineColor;
}
a:hover,
a:focus,
a:active {
    color: @linkActiveColor;
    cursor: pointer;
}
a.underline:hover,
a.underline:focus,
a.underline:active {
    border-bottom-color: @linkActiveUnderlineColor;
}

a.disabled,
a.disabled:hover,
a.disabled:focus {
    color: @defaultDisabledColor;
    border-bottom-color: transparent;
    cursor: default;
}

a.active.action,
a.active.action:hover,
a.active.action:focus,
a.active.action:active,
.active a.action,
.active a.action:hover,
.active a.action:focus,
.active a.action:active {
    color: @linkActiveColor !important;
    cursor: default !important;
}

ul > li {
    margin-bottom: 5px;
}

.align-left {
    text-align: left !important;
}
.align-center {
    text-align: center !important;
}
.align-right {
    text-align: right !important;
}

.small {
    font-size: 85%;
}

/* shadows */
.shadow-lift-lb-corner:before {
  z-index: -2;
  position: absolute;
  content: "";
  bottom: 20px;
  right: 5px;
  left: 10px;
  top: 0;

  background-color: @defaultShadowColor;

  -webkit-box-shadow: 0 15px 10px @defaultShadowColor;
     -moz-box-shadow: 0 15px 10px @defaultShadowColor;
          box-shadow: 0 15px 10px @defaultShadowColor;

  -webkit-transform: rotate(1deg);
     -moz-transform: rotate(1deg);
      -ms-transform: rotate(1deg);
       -o-transform: rotate(1deg);
          transform: rotate(1deg);
}
.shadow-lift-lb-corner:after {
  z-index: -1;
  position: absolute;
  content: "";
  left: 0;
  top: -10px;
  right: -10px;
  bottom: 0;
}

/* header */
.nkb-logo {
    height: 42px;
    background: transparent url("./i/nkb-logo_ru.png") no-repeat 0 0;
}

.header {
    padding: 20px 0;
}

/* footer */
.footer {
    padding-bottom: 20px;
}

/*
 * rsearch
 *
 */

/* np-rsearch-input */
[np-rsearch-input] {
    padding-top: 8px;
}
[np-rsearch-input] input.search-query {
    width: 360px;
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}
[np-rsearch-input] .search-btn {
    width: 70px;
}

/* np-rsearch-node-navigation */
[np-rsearch-navigation] {
    position: relative;
}
[np-rsearch-navigation] .mask {
    position: absolute;
    z-index: 10;
    display: none;
    left: -1000px;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
[np-rsearch-navigation] .mask .message-box {
    position: fixed;
    left: 50%;
    top: 50%;
}
[np-rsearch-navigation] .mask .message {
    margin-left: -100%;
}
[np-rsearch-navigation].loading .mask {
    display: block;
}
[np-rsearch-navigation].loading .navigation-content {
    opacity: 0.2;
    filter: alpha(opacity=20);
}
[np-rsearch-navigation] .nav {
    margin: 0;
}
[np-rsearch-navigation] .search-result-switch {
    margin-bottom: 20px;
}
[np-rsearch-navigation] .breadcrumb {
    margin: 3px 0 5px 2px;
    padding: 0;
    background-color: transparent;
}
[np-rsearch-navigation] .breadcrumb > li {
    height: 32px;
    line-height: 15px;
    vertical-align: top;
}
[np-rsearch-navigation] .breadcrumb .divider {
    padding: 0 0 0 1px;
}
[np-rsearch-navigation] .breadcrumb .target-relations-info {
    padding-left: 15px;
    font-size: 80%;
}
[np-rsearch-navigation] .breadcrumb .node-form {
    font-weight: bold;
}
[np-rsearch-navigation] .breadcrumb .node-form .target-relations-info {
    font-weight: normal;
}

/* np-rsearch-node-info */
[np-rsearch-node-info] .body {
    padding: 5px 7px 0 7px;
}
[np-rsearch-node-info] .node-header {
    padding-bottom: 5px;
    font-weight: bold;
}
[np-rsearch-node-info] .node-entry {
    padding-bottom: 5px;
}
[np-rsearch-node-info] .node-entry:empty {
    display: none;
}
[np-rsearch-node-info] .value-label {
    color: @defaultDisabledColor;
}
[np-rsearch-node-info] .liquidate-state {
    display: none;
}
[np-rsearch-node-info] .liquidate .liquidate-state {
    display: block;
}
[np-rsearch-node-info] .liquidate .node-header,
[np-rsearch-node-info] .liquidate-state {
    color: @invalidColor;
}
[np-rsearch-node-info] ul.inline {
    margin: 0;
    padding: 0 0 5px 0;
}
[np-rsearch-node-info] ul.inline li {
    margin: 0;
    padding: 0 10px 0 0;
}

/* np-rsearch-node-history-info */
[np-rsearch-node-history-info] .history-labels {
    font-style: italic;
    color: @defaultDisabledColor;
}
[np-rsearch-node-history-info] .history-labels .icon {
    vertical-align: -5px;
    font-size: 150%;
}
[np-rsearch-node-history-info] .history-labels .entry {
    margin-right: 10px;
}

/* np-rsearch-node-simple */
[np-rsearch-node-simple] {
}

/* np-rsearch-node-plain */
[np-rsearch-node-plain] [np-rsearch-node-history-info] .history-labels {
    padding: 5px 5px 0 5px;
}
[np-rsearch-node-plain] .history-label .icon {
    vertical-align: -5px;
    font-size: 150%;
}
[np-rsearch-node-plain] .extra-info {
    padding: 0 7px;
}
[np-rsearch-node-plain] ul.inline {
    margin: 0;
    padding: 0 0 5px 0;
}
[np-rsearch-node-plain] ul.inline li {
    margin: 0;
    padding: 0 10px 0 0;
}
[np-rsearch-node-plain] .target-relations-info {
    padding: 5px 7px 0 7px;
}
[np-rsearch-node-plain] .target-relations-info:empty {
    display: none;
}
[np-rsearch-node-plain] [np-rsearch-relation-simple] .entry {
    margin-right: 10px;
    font-style: italic;
    color: @defaultDisabledColor;
}

/* np-rsearch-node-list */
[np-rsearch-node-list] .node-list-item {
    position: relative;
}
[np-rsearch-node-list] .node-list-item .item-number {
    position: absolute;
    top: 0;
    right: 100%;
    padding: 5px 5px 0 0;
    color: @defaultDisabledColor;
}
[np-rsearch-node-list] [np-rsearch-node-plain] {
    position: relative;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid @defaultShadowBorderColor;
    background-color: @defaultBackgroundColor;
}
[np-rsearch-node-list] [np-rsearch-node-plain].shadow-lift-lb-corner:after {
    background-color: @defaultBackgroundColor;
}
[np-rsearch-node-list] [np-rsearch-node-plain] .node-header {
    color: @linkColor;
}
[np-rsearch-node-list] [np-rsearch-node-plain]:hover {
    border-color: @defaultShadowHighlightBorderColor;
    cursor: pointer;
}
[np-rsearch-node-list] [np-rsearch-node-plain]:hover .node-header {
    color: @linkActiveColor;
}
[np-rsearch-node-list] [np-rsearch-node-info] a.action {
    color: @defaultColor !important;
}
[np-rsearch-node-list] [np-rsearch-node-info] .balance-forms,
[np-rsearch-node-list] [np-rsearch-node-info] .okfs {
    display: none;
}

/* np-rsearch-node-form */
[np-rsearch-node-form] {
    position: relative;
    padding-top: 10px;
}
[np-rsearch-node-form] [np-rsearch-node-history-info] .history-labels {
    padding: 0 5px 5px 5px;
}
[np-rsearch-node-form] .node-header {
    font-size: 150%;
    padding-bottom: 10px;
}
[np-rsearch-node-form] .relations {
    position: absolute;
    left: 100%;
    top: 0;
    width: 220px;
    padding: 15px 0 0 20px;
    white-space: nowrap;
}
[np-rsearch-node-form] .actions {
    padding: 20px 7px 0 7px;
}
[np-rsearch-node-form] .actions .span5 {
    width: 360px;
}
[np-rsearch-node-form] .actions .actions-label {
    line-height: 1;
}
[np-rsearch-node-form] .actions .actions-list {
    margin-bottom: 20px;
}

/* np-rsearch-filters */
[np-rsearch-filters] {
    padding-left: 40px;
}
[np-rsearch-filters] .filter {
    margin-bottom: 20px;
}
[np-rsearch-filters] .filter-label {
    line-height: 1;
}
[np-rsearch-filters] .no-filter-message {
    color: @defaultDisabledColor;
    font-style: italic;
}
[np-rsearch-filters] .filter-item a {
    display: block;
}
[np-rsearch-filters] .filter-item .count {
    display: block;
    float: right;
}
[np-rsearch-filters] .filter-item.active a {
    font-weight: bold;
}

[np-rsearch-user-product-limits-info] {
    white-space: nowrap;
}
[np-rsearch-user-product-limits-info] .divider {
    color: @defaultDisabledLightColor;
}
[np-rsearch-user-product-limits-info] .info {
    color: @defaultDisabledColor;
}
