<div ng-show="isSearch()">
    <div class="mask"><div class="message-box"><span class="message">${_tr("Ожидайте...")}</span></div></div>
    <div class="navigation-content">
        <div class="nav">
            <div class="search-result-switch" ng-hide="isBreadcrumbs()">
                <ul class="inline">
                    <li ng-show="search.isEmptyResult()">${_tr("Не найдено")}</li>
                    <li ng-show="!search.isEmptyResult() && search.getTotalByNodeType('COMPANY')"><a class="action" ng-class="{active: search.activeResult === 'COMPANY'}" ng-click="search.showResult('COMPANY')"><ng-pluralize count="count = search.getTotalByNodeType('COMPANY')" when="${_tr("NG_PLURALIZE::NODE_COMPANY")}"></ng-pluralize></a></li>
                    <li ng-show="!search.isEmptyResult() && search.getTotalByNodeType('INDIVIDUAL')"><a class="action" ng-class="{active: search.activeResult === 'INDIVIDUAL'}" ng-click="search.showResult('INDIVIDUAL')"><ng-pluralize count="count = search.getTotalByNodeType('INDIVIDUAL')" when="${_tr("NG_PLURALIZE::NODE_INDIVIDUAL")}"></ng-pluralize></a></li>
                    <li ng-show="!search.isEmptyResult() && search.getTotalByNodeType('ADDRESS')"><a class="action" ng-class="{active: search.activeResult === 'ADDRESS'}" ng-click="search.showResult('ADDRESS')"><ng-pluralize count="count = search.getTotalByNodeType('ADDRESS')" when="${_tr("NG_PLURALIZE::NODE_ADDRESS")}"></ng-pluralize></a></li>
                    <li ng-show="!search.isEmptyResult() && search.getTotalByNodeType('PHONE')"><a class="action" ng-class="{active: search.activeResult === 'PHONE'}" ng-click="search.showResult('PHONE')"><ng-pluralize count="count = search.getTotalByNodeType('PHONE')" when="${_tr("NG_PLURALIZE::NODE_PHONE")}"></ng-pluralize></a></li>
                </ul>
            </div>
            <div class="breadcrumbs" ng-show="isBreadcrumbs()">
                <ul class="breadcrumb">
                    <li ng-repeat="breadcrumb in breadcrumbs.list track by $index"><strong>&nbsp;</strong><span class="divider">/</span><span np-rsearch-navigation-breadcrumb="breadcrumb" np-rsearch-navigation-breadcrumb-active="$last"></span></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="span9">
                <div class="views">
                    <div class="messages">
                        <div class="message" ng-show="messages.message === 'FILTERS_RESULT_EMPTY'">
                            ${_tr("Нет данных. Попробуйте изменить значения фильтров.")}
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="search-filters">
                    <div np-rsearch-region-filter></div>
                </div>
                <div np-rsearch-node-relations="nodeRelationsFilter.node" np-rsearch-node-relations-active="nodeRelationsFilter.active" np-rsearch-node-relations-click="nodeRelationsFilter.relationsClick"></div>
                <div class="relation-filters">
                    <div np-rsearch-region-filter></div>
                    <div np-rsearch-inn-filter></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div ng-hide="isSearch()">
    <div class="products">
        <div class="row">
            <div class="span3">
                <div class="teaser shadow-lift-lb-corner strong online-reports">
                    <span class="teaser-header">
                        <span class="header-icon"><i class="icon i-document-ok"></i></span>
                        <span class="header-text">${_tr("Бизнес-справки онлайн")}</span>
                    </span>
                    <ul class="unstyled">
                        <li><a class="underline">${_tr("Исторический профиль")}</a></li>
                        <li><a class="underline">${_tr("Кредитный профиль")}</a></li>
                        <li><a class="underline">${_tr("Аналитический профиль")}</a></li>
                    </ul>
                </div>
            </div>
            <div class="span3">
                <div class="teaser shadow-lift-lb-corner strong offline-reports">
                    <span class="teaser-header">
                        <span class="header-icon"><i class="icon i-document-plus"></i></span>
                        <span class="header-text">${_tr("Отчеты на заказ")}</span>
                    </span>
                    <ul class="unstyled">
                        <li><a class="underline">${_tr("Расширенное исследование")}</a></li>
                        <li><a class="underline">${_tr("Схема аффилированных лиц")}</a></li>
                    </ul>
                </div>
            </div>
            <div class="span3">
                <a class="teaser shadow-lift-lb-corner strong relations">
                    <span class="teaser-header">
                        <span class="header-icon"><i class="icon i-graph-cluster"></i></span>
                        <span class="header-text">${_tr("Анализ связей")}</span>
                    </span>
                </a>
            </div>
            <div class="span3">&nbsp;</div>
        </div>
        <div class="row">
            <div class="span3">&nbsp;</div>
            <div class="span3">
                <a class="teaser shadow-lift-lb-corner strong comments">
                    <span class="teaser-header">
                        <span class="header-icon"><i class="icon i-comments-2"></i></span>
                        <span class="header-text">${_tr("Обмен информацией")}</span>
                    </span>
                    <span class="info">${_tr("Обмен собственной информацией о компаниях и организациях между участниками рынка")}</span>
                </a>
            </div>
            <div class="span3">
                <a class="teaser shadow-lift-lb-corner strong foreign">
                    <span class="teaser-header">
                        <span class="header-icon"><i class="icon i-document-info"></i></span>
                        <span class="header-text">${_tr("Бизнес-справки по иностранным компаниям")}</span>
                    </span>
                    <span class="info">${_tr("Информация по компаниям различных стран мира")}</span>
                </a>
            </div>
            <div class="span3">
                <div class="teaser shadow-lift-lb-corner strong egrul">
                    <span class="teaser-header">
                        <span class="header-icon"><i class="icon i-document-stamp"></i></span>
                        <span class="header-text">${_tr("ЕГРЮЛ")} / ${_tr("ЕГРИП")}</span>
                    </span>
                    <ul class="unstyled">
                        <li><a class="underline">${_tr("Заказать выписку из ЕГРЮЛ")}</a></li>
                        <li><a class="underline">${_tr("Заказать выписку из ЕГРИП")}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="message">
        <div class="message-icon"><i class="icon i-message-4"></i></div>
        <div class="message-text">
            19 сентября 2014 г. состоится конференция<br>
            <em>«Аффилированность участников закупок: вопросы раскрытия информации, комплаенс-контроль,<br>инструментальные решения»</em><br>
            <a class="underline" href="http://www.creditnet.ru/conference" target="_blank">Регистрация участников</a>
        </div>
    </div>
</div>
-->
