<div np-rsearch-node-history-info></div>
<div np-rsearch-node-info></div>

<div class="relations">
    <div ng-if="node._type === 'COMPANY'">
        <ul class="unstyled">
            <li ng-show="node._info.in['FOUNDER_COMPANY']"><a class="action" ng-click="relationsClick('parents', 'FOUNDER_COMPANY')"><ng-pluralize count="count = node._info.in['FOUNDER_COMPANY']" when="${_tr("NG_PLURALIZE::RELATION_FOUNDER_COMPANY")}"></ng-pluralize></a></li>
            <li ng-show="node._info.in['FOUNDER_INDIVIDUAL']"><a class="action" ng-click="relationsClick('parents', 'FOUNDER_INDIVIDUAL')"><ng-pluralize count="count = node._info.in['FOUNDER_INDIVIDUAL']" when="${_tr("NG_PLURALIZE::RELATION_FOUNDER_INDIVIDUAL")}"></ng-pluralize></a></li>
            <li ng-show="node._info.out['FOUNDER_COMPANY']"><a class="action" ng-click="relationsClick('children', 'FOUNDER_COMPANY')"><ng-pluralize count="count = node._info.out['FOUNDER_COMPANY']" when="${_tr("NG_PLURALIZE::RELATION_SUBSIDIARY_COMPANY")}"></ng-pluralize></a></li>

            <li ng-show="node._info.out['HEAD_COMPANY']"><a class="action" ng-click="relationsClick('children', 'HEAD_COMPANY')"><ng-pluralize count="count = node._info.out['HEAD_COMPANY']" when="${_tr("NG_PLURALIZE::RELATION_BRANCH_COMPANY")}"></ng-pluralize></a></li>

            <li ng-show="node._info.in['PREDECESSOR_COMPANY']"><a class="action" ng-click="relationsClick('parents', 'PREDECESSOR_COMPANY')"><ng-pluralize count="count = node._info.in['PREDECESSOR_COMPANY']" when="${_tr("NG_PLURALIZE::RELATION_PREDECESSOR_COMPANY")}"></ng-pluralize></a></li>
            <li ng-show="node._info.out['PREDECESSOR_COMPANY']"><a class="action" ng-click="relationsClick('children', 'PREDECESSOR_COMPANY')"><ng-pluralize count="count = node._info.out['PREDECESSOR_COMPANY']" when="${_tr("NG_PLURALIZE::RELATION_SUCCESSOR_COMPANY")}"></ng-pluralize></a></li>

            <li ng-show="node._info.in['REGISTER_HOLDER']"><a class="action" ng-click="relationsClick('parents', 'REGISTER_HOLDER')"><ng-pluralize count="count = node._info.in['REGISTER_HOLDER']" when="${_tr("NG_PLURALIZE::RELATION_REGISTER_HOLDER_COMPANY")}"></ng-pluralize></a></li>
            <li ng-show="node._info.out['REGISTER_HOLDER']"><a class="action" ng-click="relationsClick('children', 'REGISTER_HOLDER')"><ng-pluralize count="count = node._info.out['REGISTER_HOLDER']" when="${_tr("NG_PLURALIZE::RELATION_REGISTERED_HOLDER_COMPANY")}"></ng-pluralize></a></li>

            <li ng-show="node._info.in['EXECUTIVE_COMPANY']"><a class="action" ng-click="relationsClick('parents', 'EXECUTIVE_COMPANY')"><ng-pluralize count="count = node._info.in['EXECUTIVE_COMPANY']" when="${_tr("NG_PLURALIZE::RELATION_EXECUTIVE_COMPANY")}"></ng-pluralize></a></li>
            <li ng-show="node._info.out['EXECUTIVE_COMPANY']"><a class="action" ng-click="relationsClick('children', 'EXECUTIVE_COMPANY')"><ng-pluralize count="count = node._info.out['EXECUTIVE_COMPANY']" when="${_tr("NG_PLURALIZE::RELATION_LEAD_COMPANY")}"></ng-pluralize></a></li>

            <li ng-show="node._info.in['HEAD_COMPANY']"><a class="action" ng-click="relationsClick('parents', 'HEAD_COMPANY')"><ng-pluralize count="count = node._info.in['HEAD_COMPANY']" when="${_tr("NG_PLURALIZE::RELATION_HEAD_COMPANY")}"></ng-pluralize></a></li>

            <li ng-show="node._info.in['EXECUTIVE_INDIVIDUAL']"><a class="action" ng-click="relationsClick('parents', 'EXECUTIVE_INDIVIDUAL')"><ng-pluralize count="count = node._info.in['EXECUTIVE_INDIVIDUAL']" when="${_tr("NG_PLURALIZE::RELATION_EXECUTIVE_INDIVIDUAL")}"></ng-pluralize></a></li>

            <li ng-show="node._info.in['ADDRESS']"><a class="action" ng-click="relationsClick('parents', 'ADDRESS')"><ng-pluralize count="count = node._info.in['ADDRESS']" when="${_tr("NG_PLURALIZE::RELATION_ADDRESS")}"></ng-pluralize></a></li>
            <li ng-show="node._info.in['PHONE']"><a class="action" ng-click="relationsClick('parents', 'PHONE')"><ng-pluralize count="count = node._info.in['PHONE']" when="${_tr("NG_PLURALIZE::RELATION_PHONE")}"></ng-pluralize></a></li>
        </ul>
    </div>

    <div ng-if="node._type === 'INDIVIDUAL'">
        <ul class="unstyled">
            <li ng-show="node._info.out['FOUNDER_INDIVIDUAL']"><a class="action" ng-click="relationsClick('children', 'FOUNDER_INDIVIDUAL')"><ng-pluralize count="count = node._info.out['FOUNDER_INDIVIDUAL']" when="${_tr("NG_PLURALIZE::RELATION_SUBSIDIARY_COMPANY")}"></ng-pluralize></a></li>
            <li ng-show="node._info.out['EXECUTIVE_INDIVIDUAL']"><a class="action" ng-click="relationsClick('children', 'EXECUTIVE_INDIVIDUAL')"><ng-pluralize count="count = node._info.out['EXECUTIVE_INDIVIDUAL']" when="${_tr("NG_PLURALIZE::RELATION_LEAD_COMPANY")}"></ng-pluralize></a></li>
        </ul>
    </div>

    <div ng-if="node._type === 'ADDRESS'">
        <ul class="unstyled">
            <li ng-show="node._info.out['ADDRESS']"><a class="action" ng-click="relationsClick('children', 'ADDRESS')"><ng-pluralize count="count = node._info.out['ADDRESS']" when="${_tr("NG_PLURALIZE::RELATION_COMPANY")}"></ng-pluralize></a></li>
        </ul>
    </div>

    <div ng-if="node._type === 'PHONE'">
        <ul class="unstyled">
            <li ng-show="node._info.out['PHONE']"><a class="action" ng-click="relationsClick('children', 'PHONE')"><ng-pluralize count="count = node._info.out['PHONE']" when="${_tr("NG_PLURALIZE::RELATION_COMPANY")}"></ng-pluralize></a></li>
        </ul>
    </div>
</div>

<div class="actions">
    <div ng-if="node._type === 'COMPANY'">
        <div class="row">
            <div class="span5">
                <h5 class="actions-label">${_tr("Бизнес-справки онлайн")}</h5>
                <ul class="unstyled actions-list">
                    <li><a class="action" ng-click="productClick('market_profile_short')">${_tr("Профиль регистрации")}</a> <span np-rsearch-user-product-limits-info="user.getProductLimitsInfo('market_profile_short')"></span></li>
                    <li><a class="action" ng-click="productClick('market_list')">${_tr("Корпоративная структура")}</a> <span np-rsearch-user-product-limits-info="user.getProductLimitsInfo('market_list')"></span></li>
                    <li ng-show="node | isBalance"><a class="action" ng-click="productClick('business_profile')">${_tr("Бизнес профиль")}</a> <span np-rsearch-user-product-limits-info="user.getProductLimitsInfo('business_profile')"></span></li>
                    <li ng-show="node | isBalance"><a class="action" ng-click="productClick('market_profile_full')">${_tr("Аналитический профиль")}</a> <span np-rsearch-user-product-limits-info="user.getProductLimitsInfo('market_profile_full')"></span></li>
                    <li ng-show="node | isBalance"><a class="action" ng-click="productClick('credit_profile')">${_tr("Кредитный профиль")}</a> <span np-rsearch-user-product-limits-info="user.getProductLimitsInfo('credit_profile')"></span></li>
                    <li><a class="action" ng-click="productClick('ext_history_profile')">${_tr("Исторический профиль")}</a> <span np-rsearch-user-product-limits-info="user.getProductLimitsInfo('ext_history_profile')"></span></li>
                </ul>

                <h5 class="actions-label">${_tr("Система графического анализа")}</h5>
                <ul class="unstyled actions-list">
                    <li><a class="action" ng-click="productClick('relations_find_related')">${_tr("Построить схему")}</a> <span np-rsearch-user-product-limits-info="user.getProductLimitsInfo('relations_find_related')"></span></li>
                </ul>
            </div>
            <div class="span4">
                <h5 class="actions-label">${_tr("Отчеты на заказ")}</h5>
                <ul class="unstyled actions-list">
                    <li><a class="action" ng-click="productClick('extended_research')">${_tr("Расширенное исследование")}</a> <span np-rsearch-user-product-limits-info="user.getProductLimitsInfo('extended_research')"></span></li>
                    <li><a class="action" ng-click="productClick('relations_xxx')">${_tr("Схема аффилированных лиц")}</a> <span np-rsearch-user-product-limits-info="user.getProductLimitsInfo('relations_xxx')"></span></li>
                </ul>

                <h5 class="actions-label">${_tr("ЕГРЮЛ")}</h5>
                <ul class="unstyled actions-list">
                    <li><a class="action" ng-click="productClick('egrulCompanyReport')">${_tr("Заказать выписку ЕГРЮЛ")}</a> <span np-rsearch-user-product-limits-info="user.getProductLimitsInfo('egrulCompanyReport')"></span></li>
                    <li ng-repeat="egrul in node.__egrulList"><a class="action" ng-href="{{egrul._link}}" download="{{egrul._downloadName}}" target="_self">${_tr("Скачать выписку")}</a> ${_trc("от", "от такой-то даты")} {{egrul.fileDate | date:'mediumDate'}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div ng-if="node._type === 'INDIVIDUAL'">
        <div class="row">
            <div class="span5">
                <h5 class="actions-label">${_tr("Система графического анализа")}</h5>
                <ul class="unstyled actions-list">
                    <li><a class="action" ng-click="productClick('relations_find_related')">${_tr("Построить схему")}</a> <span np-rsearch-user-product-limits-info="user.getProductLimitsInfo('relations_find_related')"></span></li>
                </ul>
            </div>
            <div class="span4">
                <h5 class="actions-label">${_tr("ЕГРЮЛ")}</h5>
                <ul class="unstyled actions-list">
                    <li><a class="action" ng-click="productClick('egrulChiefReport')">${_tr("Заказать выписку ЕГРЮЛ")}</a> <span np-rsearch-user-product-limits-info="user.getProductLimitsInfo('egrulChiefReport')"></span></li>
                    <li><a class="action" ng-click="productClick('egripReport')">${_tr("Заказать выписку ЕГРИП")}</a> <span np-rsearch-user-product-limits-info="user.getProductLimitsInfo('egripReport')"></span></li>
                </ul>
            </div>
        </div>
    </div>
    <!--
    <div ng-if="node._type === 'ADDRESS'">
    </div>

    <div ng-if="node._type === 'PHONE'">
    </div>
    -->
</div>
