<div class="body {{node._liquidate ? 'liquidate' : null}}" node-id="{{node._id}}" ng-click="toggleSelect()">
    <div ng-if="node._type === 'COMPANY'">
        <div class="row">
            <div class="span7 node-header">{{node.nameshortsort}}</div>
            <div class="align-right">{{node.founded_dt | date:'mediumDate'}}</div>
        </div>
        <div class="row node-entry liquidate-state">
            <div class="span6">{{node._liquidate.state.type}}</div>
            <div class="align-right">{{node._liquidate.state._since | date:'mediumDate'}}</div>
        </div>
        <div class="node-entry">{{node | OKVED}}</div>
        <div class="node-entry">{{node.chief_name}}</div>
        <div class="node-entry">{{node.addresssort}}</div>
        <ul class="inline company-codes">
            <li class="entry" ng-show="node.ogrn">${_tr("ОГРН")}: {{node.ogrn}}</li>
            <li class="entry" ng-show="node.inn">${_tr("ИНН")}: {{node.inn}}</li>
            <li class="entry" ng-show="node.okpo">${_tr("ОКПО")}: {{node.okpo}}</li>
        </ul>
        <ul class="inline company-balance">
            <li class="entry" ng-show="node | isLastSalesVolume">${_tr("Объём продаж за последний год")}: {{node | lastSalesVolume | number:0}}&nbsp;${_tr("тыс. руб.")}</li>
            <li class="entry" ng-show="node | isBalance">${_tr("Финансовая отчётность")}: {{node | balanceByPeriod}}</li>
        </ul>
        <span np-rsearch-node-target-relations-info></span>
    </div>

    <div ng-if="node._type === 'INDIVIDUAL'">
        <div class="node-header">{{node.name}}</div>
        <span np-rsearch-node-target-relations-info></span>
    </div>

    <div ng-if="node._type === 'ADDRESS'">
        <div class="node-header">{{node.value}}</div>
        <!--<span np-rsearch-node-target-relations-info></span>-->
    </div>

    <div ng-if="node._type === 'PHONE'">
        <div class="node-header">{{node.value}}</div>
        <!--<span np-rsearch-node-target-relations-info></span>-->
    </div>
</div>
