<div node-id="{{node._id}}" ng-click="nodeClick($event)">
    <div np-rsearch-node-history-info></div>

    <div class="target-relations-info" ng-bind-html="targetInfo | targetRelationsInfo:node:false:true:'\n'"></div>

    <div np-rsearch-node-info></div>

    <div class="extra-info">
        <ul class="inline">
            <li ng-repeat="countData in node.__relationData.relationCounts" ng-show="countData.top">
                <a class="action" ng-click="actions.relationsClick(countData.direction, countData.relationType, node, $event)"><np-pluralize plural="{count: countData.relationCount, when: _tr(countData.pluralKey)}"></np-pluralize></a>
            </li>
        </ul>
    </div>
</div>
