<div class="body" ng-class="{'liquidate': node._liquidate, 'liquidate-intermediate': node._liquidate.state.intermediate}">
    <div ng-if="node._type === 'COMPANY'">
        <div class="row">
            <div class="span6 node-header" data-node-id="{{node._id}}">{{node.nameshortsort || node.namesort}}</div>
            <div class="align-right" ng-show="node.founded_dt">${_tr("основано")} {{node.founded_dt | date:'dd.MM.yyyy'}}</div>
        </div>
        <div class="row node-entry reg-state" ng-show="node._reg.state">
            <div class="span6">{{node._reg.state.type}}</div>
            <div class="align-right">{{node._reg.state._since | date:'dd.MM.yyyy'}}</div>
        </div>
        <div class="row node-entry liquidate-state">
            <div class="span6">{{node._liquidate.state.type}}</div>
            <div class="align-right">{{node._liquidate.state._since | date:'dd.MM.yyyy'}}</div>
        </div>
        <div class="node-entry" ng-show="node.name_diff">{{node.namesort}}</div>
        <div class="node-entry">{{node | OKVED}}</div>
        <div class="node-entry" ng-show="node.chief_name"><a class="action" ng-click="relationsClick('parents', 'EXECUTIVE_INDIVIDUAL')"><i class="icon i-user small {{node.chief_gender}}"></i> {{node.chief_name}}</a></div>
        <div class="node-entry" ng-show="node.addresssort"><a class="action" ng-click="relationsClick('parents', 'ADDRESS')"><i class="icon i-map-marker small"></i> {{node.addresssort}}</a></div>
        <ul class="inline">
            <li ng-show="node.ogrn"><span class="value-label">${_tr("ОГРН")}</span> {{node.ogrn}}</li>
            <li ng-show="node.inn"><span class="value-label">${_tr("ИНН")}</span> {{node.inn}}</li>
            <li ng-show="node.okpo"><span class="value-label">${_tr("ОКПО")}</span> {{node.okpo}}</li>
        </ul>
        <div class="node-entry" ng-show="node | isBalance">${_tr("Финансовая отчётность")}: {{node | balanceByPeriod}}</div>
        <div class="node-entry" ng-show="user.isAuthenticated() && (node | isLastSalesVolume)">${_tr("Объём продаж за последний год")}: {{node | lastSalesVolume | number:0}}&nbsp;${_tr("тыс. руб.")}</div>
        <div class="node-entry balance-forms" ng-show="node | isBalance">${_tr("Формы отчетности за последний год")}: {{node | balanceForms}}</div>
        <div class="node-entry okfs" ng-show="node.okfscode && node.okfscode !== 16">{{node.okfs_text}}</div>
    </div>

    <div ng-if="node._type === 'INDIVIDUAL'">
        <div class="node-header" data-node-id="{{node._id}}">{{node.name}}</div>
    </div>

    <div ng-if="node._type === 'ADDRESS'">
        <div class="node-header" data-node-id="{{node._id}}">{{node.value}}</div>
    </div>

    <div ng-if="node._type === 'PHONE'">
        <div class="node-header" data-node-id="{{node._id}}">{{node.value}}</div>
    </div>
</div>
