<div class="node-list-item" ng-repeat="node in nodeList track by $index">
    <div class="item-info">
        <div class="item-info-entry item-number" ng-show="showItemNumber">{{node.__index + 1 | number}}.</div>
        <!-- TODO при наличии других статусов: динамическое обновление сообщения о статусе -->
        <div class="item-info-entry node-status">${_trc("в отчете", "объект в отчете")}</div>
    </div>
    <div class="shadow-lift-lb-corner" np-rsearch-node-plain="node" np-rsearch-node-target-info="targetInfo" np-rsearch-node-relations-actions="actions"></div>
</div>
