<span ng-if="relationsData.node._type === 'COMPANY'">
    <span ng-show="relationsData.direction === 'parents' && relationsData.relationType === 'FOUNDER_INDIVIDUAL'"><ng-pluralize count="count = relationsData.node._info.in['FOUNDER_INDIVIDUAL']" when="::${_tr("NG_PLURALIZE::RELATION_FOUNDER_INDIVIDUAL")}"></ng-pluralize></span>
    <span ng-show="relationsData.direction === 'parents' && relationsData.relationType === 'FOUNDER_COMPANY'"><ng-pluralize count="count = relationsData.node._info.in['FOUNDER_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_FOUNDER_COMPANY")}"></ng-pluralize></span>
    <span ng-show="relationsData.direction === 'children' && relationsData.relationType === 'FOUNDER_COMPANY'"><ng-pluralize count="count = relationsData.node._info.out['FOUNDER_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_SUBSIDIARY_COMPANY")}"></ng-pluralize></span>

    <span ng-show="relationsData.direction === 'parents' && relationsData.relationType === 'EXECUTIVE_INDIVIDUAL'"><ng-pluralize count="count = relationsData.node._info.in['EXECUTIVE_INDIVIDUAL']" when="::${_tr("NG_PLURALIZE::RELATION_EXECUTIVE_INDIVIDUAL")}"></ng-pluralize></span>
    <span ng-show="relationsData.direction === 'parents' && relationsData.relationType === 'EXECUTIVE_COMPANY'"><ng-pluralize count="count = relationsData.node._info.in['EXECUTIVE_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_EXECUTIVE_COMPANY")}"></ng-pluralize></span>

    <span ng-show="relationsData.direction === 'parents' && relationsData.relationType === 'HEAD_COMPANY'"><ng-pluralize count="count = relationsData.node._info.in['HEAD_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_HEAD_COMPANY")}"></ng-pluralize></span>
    <span ng-show="relationsData.direction === 'children' && relationsData.relationType === 'HEAD_COMPANY'"><ng-pluralize count="count = relationsData.node._info.out['HEAD_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_BRANCH_COMPANY")}"></ng-pluralize></span>
    <span ng-show="relationsData.direction === 'children' && relationsData.relationType === 'EXECUTIVE_COMPANY'"><ng-pluralize count="count = relationsData.node._info.out['EXECUTIVE_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_LEAD_COMPANY")}"></ng-pluralize></span>

    <span ng-show="relationsData.direction === 'parents' && relationsData.relationType === 'PREDECESSOR_COMPANY'"><ng-pluralize count="count = relationsData.node._info.in['PREDECESSOR_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_PREDECESSOR_COMPANY")}"></ng-pluralize></span>
    <span ng-show="relationsData.direction === 'children' && relationsData.relationType === 'PREDECESSOR_COMPANY'"><ng-pluralize count="count = relationsData.node._info.out['PREDECESSOR_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_SUCCESSOR_COMPANY")}"></ng-pluralize></span>

    <span ng-show="relationsData.direction === 'parents' && relationsData.relationType === 'REGISTER_HOLDER'"><ng-pluralize count="count = relationsData.node._info.in['REGISTER_HOLDER']" when="::${_tr("NG_PLURALIZE::RELATION_REGISTER_HOLDER_COMPANY")}"></ng-pluralize></span>
    <span ng-show="relationsData.direction === 'children' && relationsData.relationType === 'REGISTER_HOLDER'"><ng-pluralize count="count = relationsData.node._info.out['REGISTER_HOLDER']" when="::${_tr("NG_PLURALIZE::RELATION_REGISTERED_HOLDER_COMPANY")}"></ng-pluralize></span>

    <span ng-show="relationsData.direction === 'parents' && relationsData.relationType === 'ADDRESS'"><ng-pluralize count="count = relationsData.node._info.in['ADDRESS']" when="::${_tr("NG_PLURALIZE::RELATION_ADDRESS")}"></ng-pluralize></span>
    <span ng-show="relationsData.direction === 'parents' && relationsData.relationType === 'PHONE'"><ng-pluralize count="count = relationsData.node._info.in['PHONE']" when="::${_tr("NG_PLURALIZE::RELATION_PHONE")}"></ng-pluralize></span>
</span>

<span ng-if="relationsData.node._type === 'INDIVIDUAL'">
    <span ng-show="relationsData.direction === 'children' && relationsData.relationType === 'FOUNDER_INDIVIDUAL'"><ng-pluralize count="count = relationsData.node._info.out['FOUNDER_INDIVIDUAL']" when="::${_tr("NG_PLURALIZE::RELATION_SUBSIDIARY_COMPANY")}"></ng-pluralize></span>
    <span ng-show="relationsData.direction === 'children' && relationsData.relationType === 'EXECUTIVE_INDIVIDUAL'"><ng-pluralize count="count = relationsData.node._info.out['EXECUTIVE_INDIVIDUAL']" when="::${_tr("NG_PLURALIZE::RELATION_LEAD_COMPANY")}"></ng-pluralize></span>
</span>

<span ng-if="relationsData.node._type === 'ADDRESS'">
    <span ng-show="relationsData.direction === 'children' && relationsData.relationType === 'ADDRESS'"><ng-pluralize count="count = relationsData.node._info.out['ADDRESS']" when="::${_tr("NG_PLURALIZE::RELATION_COMPANY")}"></ng-pluralize></span>
</span>

<span ng-if="relationsData.node._type === 'PHONE'">
    <span ng-show="relationsData.direction === 'children' && relationsData.relationType === 'PHONE'"><ng-pluralize count="count = relationsData.node._info.out['PHONE']" when="::${_tr("NG_PLURALIZE::RELATION_COMPANY")}"></ng-pluralize></span>
</span>
