<div ng-if="node._type === 'COMPANY'">
    <div class="relations-block">
        <ul class="unstyled">
            <li ng-show="node._info.in['FOUNDER_COMPANY']" ng-class="{active: active === 'parents::FOUNDER_COMPANY'}"><a class="action" ng-click="relationsClick('parents', 'FOUNDER_COMPANY')"><ng-pluralize count="count = node._info.in['FOUNDER_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_FOUNDER_COMPANY")}"></ng-pluralize></a></li>
            <li ng-show="node._info.in['FOUNDER_INDIVIDUAL']" ng-class="{active: active === 'parents::FOUNDER_INDIVIDUAL'}"><a class="action" ng-click="relationsClick('parents', 'FOUNDER_INDIVIDUAL')"><ng-pluralize count="count = node._info.in['FOUNDER_INDIVIDUAL']" when="::${_tr("NG_PLURALIZE::RELATION_FOUNDER_INDIVIDUAL")}"></ng-pluralize></a></li>
            <li ng-show="node._info.out['FOUNDER_COMPANY']" ng-class="{active: active === 'children::FOUNDER_COMPANY'}"><a class="action" ng-click="relationsClick('children', 'FOUNDER_COMPANY')"><ng-pluralize count="count = node._info.out['FOUNDER_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_SUBSIDIARY_COMPANY")}"></ng-pluralize></a></li>

            <li ng-show="node._info.out['HEAD_COMPANY']" ng-class="{active: active === 'children::HEAD_COMPANY'}"><a class="action" ng-click="relationsClick('children', 'HEAD_COMPANY')"><ng-pluralize count="count = node._info.out['HEAD_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_BRANCH_COMPANY")}"></ng-pluralize></a></li>

            <li ng-show="node._info.in['PREDECESSOR_COMPANY']" ng-class="{active: active === 'parents::PREDECESSOR_COMPANY'}"><a class="action" ng-click="relationsClick('parents', 'PREDECESSOR_COMPANY')"><ng-pluralize count="count = node._info.in['PREDECESSOR_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_PREDECESSOR_COMPANY")}"></ng-pluralize></a></li>
            <li ng-show="node._info.out['PREDECESSOR_COMPANY']" ng-class="{active: active === 'children::PREDECESSOR_COMPANY'}"><a class="action" ng-click="relationsClick('children', 'PREDECESSOR_COMPANY')"><ng-pluralize count="count = node._info.out['PREDECESSOR_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_SUCCESSOR_COMPANY")}"></ng-pluralize></a></li>

            <li ng-show="node._info.in['REGISTER_HOLDER']" ng-class="{active: active === 'parents::REGISTER_HOLDER'}"><a class="action" ng-click="relationsClick('parents', 'REGISTER_HOLDER')"><ng-pluralize count="count = node._info.in['REGISTER_HOLDER']" when="::${_tr("NG_PLURALIZE::RELATION_REGISTER_HOLDER_COMPANY")}"></ng-pluralize></a></li>
            <li ng-show="node._info.out['REGISTER_HOLDER']" ng-class="{active: active === 'children::REGISTER_HOLDER'}"><a class="action" ng-click="relationsClick('children', 'REGISTER_HOLDER')"><ng-pluralize count="count = node._info.out['REGISTER_HOLDER']" when="::${_tr("NG_PLURALIZE::RELATION_REGISTERED_HOLDER_COMPANY")}"></ng-pluralize></a></li>

            <li ng-show="node._info.in['EXECUTIVE_COMPANY']" ng-class="{active: active === 'parents::EXECUTIVE_COMPANY'}"><a class="action" ng-click="relationsClick('parents', 'EXECUTIVE_COMPANY')"><ng-pluralize count="count = node._info.in['EXECUTIVE_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_EXECUTIVE_COMPANY")}"></ng-pluralize></a></li>
            <li ng-show="node._info.out['EXECUTIVE_COMPANY']" ng-class="{active: active === 'children::EXECUTIVE_COMPANY'}"><a class="action" ng-click="relationsClick('children', 'EXECUTIVE_COMPANY')"><ng-pluralize count="count = node._info.out['EXECUTIVE_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_LEAD_COMPANY")}"></ng-pluralize></a></li>

            <li ng-show="node._info.in['HEAD_COMPANY']" ng-class="{active: active === 'parents::HEAD_COMPANY'}"><a class="action" ng-click="relationsClick('parents', 'HEAD_COMPANY')"><ng-pluralize count="count = node._info.in['HEAD_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_HEAD_COMPANY")}"></ng-pluralize></a></li>

            <li ng-show="node._info.in['EXECUTIVE_INDIVIDUAL']" ng-class="{active: active === 'parents::EXECUTIVE_INDIVIDUAL'}"><a class="action" ng-click="relationsClick('parents', 'EXECUTIVE_INDIVIDUAL')"><ng-pluralize count="count = node._info.in['EXECUTIVE_INDIVIDUAL']" when="::${_tr("NG_PLURALIZE::RELATION_EXECUTIVE_INDIVIDUAL")}"></ng-pluralize></a></li>
        </ul>
    </div>
    <div class="relations-block" ng-show="node.__isAffiliatedRelations">
        <h5 class="relations-block-header">${_tr("Аффилированные лица")}</h5>
        <ul class="unstyled">
            <li ng-show="node._info.in['AFFILIATED_COMPANY']" ng-class="{active: active === 'parents::AFFILIATED_COMPANY'}">
                <a class="action" ng-click="relationsClick('parents', 'AFFILIATED_COMPANY')"><ng-pluralize count="count = node._info.in['AFFILIATED_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_AFFILIATED_COMPANY_PARENTS")}"></ng-pluralize></a>
                <div np-rsearch-affiliated-cause-filter></div>
            </li>
            <li ng-show="node._info.in['AFFILIATED_INDIVIDUAL']" ng-class="{active: active === 'parents::AFFILIATED_INDIVIDUAL'}">
                <a class="action" ng-click="relationsClick('parents', 'AFFILIATED_INDIVIDUAL')"><ng-pluralize count="count = node._info.in['AFFILIATED_INDIVIDUAL']" when="::${_tr("NG_PLURALIZE::RELATION_AFFILIATED_INDIVIDUAL_PARENTS")}"></ng-pluralize></a>
                <div np-rsearch-affiliated-cause-filter></div>
            </li>
            <li ng-show="node._info.out['AFFILIATED_COMPANY']" ng-class="{active: active === 'children::AFFILIATED_COMPANY'}">
                <a class="action" ng-click="relationsClick('children', 'AFFILIATED_COMPANY')"><ng-pluralize count="count = node._info.out['AFFILIATED_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_AFFILIATED_COMPANY_CHILDREN")}"></ng-pluralize></a>
                <div np-rsearch-affiliated-cause-filter></div>
            </li>
        </ul>
    </div>
    <div class="relations-block" ng-show="node.__isContactsRelations">
        <h5 class="relations-block-header">${_tr("Контакты")}</h5>
        <ul class="unstyled">
            <li ng-show="node._info.in['ADDRESS']" ng-class="{active: active === 'parents::ADDRESS'}"><a class="action" ng-click="relationsClick('parents', 'ADDRESS')"><ng-pluralize count="count = node._info.in['ADDRESS']" when="::${_tr("NG_PLURALIZE::RELATION_ADDRESS")}"></ng-pluralize></a></li>
            <li ng-show="node._info.in['PHONE']" ng-class="{active: active === 'parents::PHONE'}"><a class="action" ng-click="relationsClick('parents', 'PHONE')"><ng-pluralize count="count = node._info.in['PHONE']" when="::${_tr("NG_PLURALIZE::RELATION_PHONE")}"></ng-pluralize></a></li>
        </ul>
    </div>
    <div class="relations-block" ng-show="node.__isPurchaseRelations">
        <h5 class="relations-block-header">${_tr("Закупки")}</h5>
        <ul class="unstyled">
            <li ng-show="node._info.out['CUSTOMER_COMPANY']" ng-class="{active: active === 'children::CUSTOMER_COMPANY'}"><a class="action" ng-click="relationsClick('children', 'CUSTOMER_COMPANY')"><ng-pluralize count="count = node._info.out['CUSTOMER_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_CUSTOMER_COMPANY_CHILDREN")}"></ng-pluralize></a></li>
            <li ng-show="node._info.out['PARTICIPANT_COMPANY']" ng-class="{active: active === 'children::PARTICIPANT_COMPANY'}"><a class="action" ng-click="relationsClick('children', 'PARTICIPANT_COMPANY')"><ng-pluralize count="count = node._info.out['PARTICIPANT_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_PARTICIPANT_COMPANY_CHILDREN")}"></ng-pluralize></a></li>
            <li ng-show="node._info.in['EMPLOYEE']" ng-class="{active: active === 'parents::EMPLOYEE'}"><a class="action" ng-click="relationsClick('parents', 'EMPLOYEE')"><ng-pluralize count="count = node._info.in['EMPLOYEE']" when="::${_tr("NG_PLURALIZE::RELATION_EMPLOYEE_PARENTS")}"></ng-pluralize></a></li>
        </ul>
    </div>
    <div class="relations-block" ng-show="user.isAuthenticated()">
        <h5 class="relations-block-header">${_tr("Иски и судебные решения")}</h5>
        <ul class="unstyled">
            <li ng-show="true">
                <a class="action" ng-click="autokadClick()">
                    <ng-pluralize count="count = autokad.getCaseCount()" when="::${_tr("NG_PLURALIZE::AUTOKAD_CASE_COUNT")}" ng-hide="autokad.isCaseCountPending()"></ng-pluralize>
                    <span class="animate-pulsed-flash" ng-show="autokad.isCaseCountPending()">${_tr("Поиск арбитражных дел...")}</span>
                </a>
            </li>
        </ul>
    </div>
    <a class="action relations-product shadow-lift-lb-corner strong" ng-click="productClick('relations_find_related')">${_tr("Анализ аффилированных лиц")}</a>
</div>

<div ng-if="node._type === 'INDIVIDUAL'">
    <div class="relations-block">
        <ul class="unstyled">
            <li ng-show="node._info.out['FOUNDER_INDIVIDUAL']" ng-class="{active: active === 'children::FOUNDER_INDIVIDUAL'}"><a class="action" ng-click="relationsClick('children', 'FOUNDER_INDIVIDUAL')"><ng-pluralize count="count = node._info.out['FOUNDER_INDIVIDUAL']" when="::${_tr("NG_PLURALIZE::RELATION_SUBSIDIARY_COMPANY")}"></ng-pluralize></a></li>
            <li ng-show="node._info.out['EXECUTIVE_INDIVIDUAL']" ng-class="{active: active === 'children::EXECUTIVE_INDIVIDUAL'}"><a class="action" ng-click="relationsClick('children', 'EXECUTIVE_INDIVIDUAL')"><ng-pluralize count="count = node._info.out['EXECUTIVE_INDIVIDUAL']" when="::${_tr("NG_PLURALIZE::RELATION_LEAD_COMPANY")}"></ng-pluralize></a></li>
        </ul>
    </div>
    <div class="relations-block" ng-show="node.__isAffiliatedRelations">
        <h5 class="relations-block-header">${_tr("Аффилированные лица")}</h5>
        <ul class="unstyled">
            <li ng-show="node._info.out['AFFILIATED_INDIVIDUAL']" ng-class="{active: active === 'children::AFFILIATED_INDIVIDUAL'}">
                <a class="action" ng-click="relationsClick('children', 'AFFILIATED_INDIVIDUAL')"><ng-pluralize count="count = node._info.out['AFFILIATED_INDIVIDUAL']" when="::${_tr("NG_PLURALIZE::RELATION_AFFILIATED_INDIVIDUAL_CHILDREN")}"></ng-pluralize></a>
                <div np-rsearch-affiliated-cause-filter></div>
            </li>
        </ul>
    </div>
    <div class="relations-block" ng-show="node.__isPurchaseRelations">
        <h5 class="relations-block-header">${_tr("Закупки")}</h5>
        <ul class="unstyled">
            <li ng-show="node._info.out['PARTICIPANT_INDIVIDUAL']" ng-class="{active: active === 'children::PARTICIPANT_INDIVIDUAL'}"><a class="action" ng-click="relationsClick('children', 'PARTICIPANT_INDIVIDUAL')"><ng-pluralize count="count = node._info.out['PARTICIPANT_INDIVIDUAL']" when="::${_tr("NG_PLURALIZE::RELATION_PARTICIPANT_INDIVIDUAL_CHILDREN")}"></ng-pluralize></a></li>
            <li ng-show="node._info.out['COMMISSION_MEMBER']" ng-class="{active: active === 'children::COMMISSION_MEMBER'}"><a class="action" ng-click="relationsClick('children', 'COMMISSION_MEMBER')"><ng-pluralize count="count = node._info.out['COMMISSION_MEMBER']" when="::${_tr("NG_PLURALIZE::RELATION_COMMISSION_MEMBER_CHILDREN")}"></ng-pluralize></a></li>
            <li ng-show="node._info.out['EMPLOYEE']" ng-class="{active: active === 'children::EMPLOYEE'}"><a class="action" ng-click="relationsClick('children', 'EMPLOYEE')"><ng-pluralize count="count = node._info.out['EMPLOYEE']" when="::${_tr("NG_PLURALIZE::RELATION_EMPLOYEE_CHILDREN")}"></ng-pluralize></a></li>
        </ul>
    </div>
    <div class="relations-block" ng-show="user.isAuthenticated()">
        <h5 class="relations-block-header">${_tr("Иски и судебные решения")}</h5>
        <ul class="unstyled">
            <li ng-show="true">
                <a class="action" ng-click="autokadClick()">
                    <ng-pluralize count="count = autokad.getCaseCount()" when="::${_tr("NG_PLURALIZE::AUTOKAD_CASE_COUNT")}" ng-hide="autokad.isCaseCountPending()"></ng-pluralize>
                    <span class="animate-pulsed-flash" ng-show="autokad.isCaseCountPending()">${_tr("Поиск арбитражных дел...")}</span>
                </a>
            </li>
        </ul>
    </div>
    <a class="action relations-product shadow-lift-lb-corner strong" ng-click="productClick('relations_find_related')">${_tr("Анализ аффилированных лиц")}</a>
</div>

<!--
    Т.к. возможен только один тип связи и миниотчет не отображается,
    а автоматически отображается список связанных (https://github.com/newpointer/rsearch/issues/73),
    то не показывать связи
<div ng-if="node._type === 'ADDRESS'">
    <div class="relations-block">
        <ul class="unstyled">
            <li ng-show="node._info.out['ADDRESS']" ng-class="{active: active === 'children::ADDRESS'}"><a class="action" ng-click="relationsClick('children', 'ADDRESS')"><ng-pluralize count="count = node._info.out['ADDRESS']" when="::${_tr("NG_PLURALIZE::RELATION_COMPANY")}"></ng-pluralize></a></li>
        </ul>
    </div>
</div>

<div ng-if="node._type === 'PHONE'">
    <div class="relations-block">
        <ul class="unstyled">
            <li ng-show="node._info.out['PHONE']" ng-class="{active: active === 'children::PHONE'}"><a class="action" ng-click="relationsClick('children', 'PHONE')"><ng-pluralize count="count = node._info.out['PHONE']" when="::${_tr("NG_PLURALIZE::RELATION_COMPANY")}"></ng-pluralize></a></li>
        </ul>
    </div>
</div>
-->

<div ng-if="node._type === 'PURCHASE'">
    <div class="relations-block">
        <ul class="unstyled">
            <li ng-show="node._info.in['CUSTOMER_COMPANY']" ng-class="{active: active === 'parents::CUSTOMER_COMPANY'}"><a class="action" ng-click="relationsClick('parents', 'CUSTOMER_COMPANY')"><ng-pluralize count="count = node._info.in['CUSTOMER_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_CUSTOMER_COMPANY_PARENTS")}"></ng-pluralize></a></li>

            <li ng-show="node._info.in['PARTICIPANT_COMPANY']" ng-class="{active: active === 'parents::PARTICIPANT_COMPANY'}"><a class="action" ng-click="relationsClick('parents', 'PARTICIPANT_COMPANY')"><ng-pluralize count="count = node._info.in['PARTICIPANT_COMPANY']" when="::${_tr("NG_PLURALIZE::RELATION_PARTICIPANT_COMPANY_PARENTS")}"></ng-pluralize></a></li>
            <li ng-show="node._info.in['PARTICIPANT_INDIVIDUAL']" ng-class="{active: active === 'parents::PARTICIPANT_INDIVIDUAL'}"><a class="action" ng-click="relationsClick('parents', 'PARTICIPANT_INDIVIDUAL')"><ng-pluralize count="count = node._info.in['PARTICIPANT_INDIVIDUAL']" when="::${_tr("NG_PLURALIZE::RELATION_PARTICIPANT_INDIVIDUAL_PARENTS")}"></ng-pluralize></a></li>

            <li ng-show="node._info.in['COMMISSION_MEMBER']" ng-class="{active: active === 'parents::COMMISSION_MEMBER'}"><a class="action" ng-click="relationsClick('parents', 'COMMISSION_MEMBER')"><ng-pluralize count="count = node._info.in['COMMISSION_MEMBER']" when="::${_tr("NG_PLURALIZE::RELATION_COMMISSION_MEMBER_PARENTS")}"></ng-pluralize></a></li>
        </ul>
    </div>
    <a class="action relations-product shadow-lift-lb-corner strong" ng-click="productClick('relations_find_related')">${_tr("Анализ аффилированных лиц")}</a>
</div>
